body{
    background-image: url(./virat.png.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.div1{
    font-size: 20px;
    font-family: cursive;
    font-weight: 800;
    font-style: italic;
    background-color: blueviolet;
}
.div2{
    text-decoration: underline;
    text-shadow:4px 4px 3px red;
    text-align: right;
}
.div3{
    text-decoration: overline;
    text-shadow: 4px 4px 3px green;
    text-align: left;
    text-transform: uppercase;
}
img{
  box-shadow: 2px 2px 0px white; 
}
#div5{
    box-shadow: 1px 1px 0px white;
    
} 
#div6{
    box-shadow: 1px 1px 0px white;
}
.div7{
    width: 300px;
    background:linear-gradient( red,blue,green,yellow);
    box-shadow: 1px 1px 1px red;
}